@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-5">cs6065: cloud computing<br> assignment #1</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="text-left">
    @if(SignInManager.IsSignedIn(User))
    {
        <h3> you are signed in.</h3>
        <p>
            go check out your <a asp-controller="UserInfo" asp-action="Index">user info</a>!
        </p>
    }
    else
    {
        <h3> you are not signed in.</h3>
        <p>
            if you don't have an account:
            <a asp-area="Identity" asp-page="/Account/Register">register an account</a>
        </p>
        <p>
            if you have previously registered an account:
            <a asp-area="Identity" asp-page="/Account/Login">log in</a>
        </p>
    }
</div>
